/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 

body * {
    font-family: 'Roboto', sans-serif !important;
} */


/* @import url('https://fonts.googleapis.com/css2?family=Jacquard+12+Charted&family=Jacquard+24&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jacquard+12+Charted&family=Jacquard+24&display=swap');

body * {
    font-family: "EB Garamond", serif !important;
    color: darkred;
}


[data-testid="stAppViewContainer"] {
    background-image: url('https://www.illustratedmonthly.com/cdn/shop/products/manuscript-ornaments-tattoo-art-reference-17844050821282_2000x.jpg?v=1594215803');
    background-attachment: fixed; 
    margin-bottom: 8px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

.stButton > button {
    border: 2px solid darkred;
    color: darkred;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    background-size: cover;
    background-color: rgba(255, 255, 240, 0.7);
} 


.stRadio, h1, a, .stTextInput, .stMultiSelect{
    background-color: rgba(255, 255, 240, 0.7); 
    padding: 8px; 
    border-radius: 4px; 
} 


.sidebar .sidebar-content {
    background-color: darkgray;
}

.stTitle {
    font-size: larger ;
}





